ansible==4.1.0
ansible-core==2.11.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
hvac==0.10.14
idna==2.10
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==20.9
pycparser==2.20
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-SystemConfiguration==7.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyYAML==5.4.1
requests==2.25.1
resolvelib==0.5.4
six==1.15.0
urllib3==1.26.5
