<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %} MTG</title>
  <meta name="description" content="MTG Scraping site">
  <meta name="author" content="Erwee">

  <meta property="og:type" content="website">
  <meta property="og:description" content="MTG Scraping site">

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript" async></script>

</head>

<body>
  <header>
    <nav>
    <ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('mtg.search') }}">Search</a></li>
    </ul>
    </nav>
    </header>
  <div class="content">
    <div>
      {% block header %}{% endblock %}
    </div>

      {% block content %}{% endblock %}
  </div>
</body>
</html>



